@font-face {
  font-family: "context-menu-icons";
  src: url("../webfonts/context-menu-icons.eot?4wdhf");
  src: url("../webfonts/context-menu-icons.eot?4wdhf#iefix") format("embedded-opentype"), url("../webfonts/context-menu-icons.woff2?4wdhf") format("woff2"), url("../webfonts/context-menu-icons.woff?4wdhf") format("woff"), url("../webfonts/context-menu-icons.ttf?4wdhf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../webfonts/glyphicons-halflings-regular.eot');
  src: url('../webfonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../webfonts/glyphicons-halflings-regular.woff') format('woff'), url('../webfonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../webfonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* latin-ext */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/FiraCode-Medium.ttf") format("truetype");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/FiraCode-Medium.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/OpenSans-Regular.ttf") format("truetype");
  /* src: local('Open Sans Regular'), local('OpenSans-Regular'), url(.woff2) format('woff2'); */
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/OpenSans-Regular.ttf") format("truetype");
  /* src: local('Open Sans Regular'), local('OpenSans-Regular'), url(.woff2) format('woff2'); */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../webfonts/OpenSans-Bold.ttf") format("truetype");
  /* src: local('Open Sans Bold'), local('OpenSans-Bold'), url(.woff2) format('woff2'); */
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../webfonts/OpenSans-Bold.ttf") format("truetype");
  /* src: local('Open Sans Bold'), local('OpenSans-Bold'), url(.woff2) format('woff2'); */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/Poppins-Regular.ttf") format("truetype"); */
  /* src: local('Poppins Regular'), local('Poppins-Regular'), url(.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/Poppins-Regular.ttf") format("truetype");
  /* src: local('Poppins Regular'), local('Poppins-Regular'), url(.woff2) format('woff2'); */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face{font-family:"Oswald"; font-style:normal; font-weight:400; src:local("Oswald Regular"),local("Oswald-Regular"),url("../webfonts/Oswald-Regular-400.woff") format("woff")}
@font-face{font-family:"Varela"; font-style:normal; font-weight:400; src:local("Varela"),url("../webfonts/Varela-400.woff") format("woff")}
